/* colors that we need are  */

:root {
  --background-blue: #0611f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace;
}
/* navbar */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  left: 0px;
  right: 0px;
  margin: 0;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin: 2.5rem 0;
}

.nav-items {
  margin: 2rem 0;
  font-size: 1rem;
}
a {
  margin: 0 1rem;
  color: inherit;
}
a:nth-child(4) {
  color: var(--background-blue);
}

.start-now {
  background-color: var(--background-blue);
  padding: 4px 20px;
  border-radius: 5px;
  border-color: var(--background-blue);
  color: white;
  outline: none;
}
.start-now:hover {
  background-color: darkblue;
}
.burger-menu {
  display: none;
}
/* info container */
.info-container {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 12.5rem;
}
.acadmy-icons {
  width: 60px;
  height: 60px;
}
.acadmy-topics {
  margin: 1.875rem 0.75rem 0;
}
.acadmy-pars {
  width: 18.75rem;
  margin: 0.25rem 0.75rem;
}
/* easy container */
.easy-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #f6f6f6;
}

.easy-img {
  width: 400px;
  height: 400px;
  margin: 0 4.375rem;
}
.easy-cont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 7.0625rem;
}
/* the last container */

.last-container {
  display: flex;
  justify-content: space-around;
  margin: 6.25rem 0;
}
.last-imges {
  width: 100px;
  height: 100px;
  padding: 1.25rem;
  background-color: var(--background-blue);
  border-radius: 50%;
}

.last-center {
  text-align: center;
  margin-top: 0.625rem;
}
.last-topic {
  text-align: center;
  margin-top: 0.625rem;
}

/* footer */

.footer {
  background-color: var(--background-blue);
  text-align: center;
  font-size: 20px;
  color: #f6f6f6;
  padding: 2.5rem 0;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  /* nav */
  .nav-container {
    justify-content: space-between;
  }
  .logo-img {
    margin-left: 2rem;
  }
  .nav-items {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--background-blue);
    font-size: 18px;
    transform: translate(100%);
    transition: transform 1s ease-in;
  }
  .nav-active {
    transform: translate(0%);
  }
  .start-now {
    font-size: 18px;
  }
  .burger-menu {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 2rem;
    cursor: pointer;
  }
  /* info */
  .info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .acadmy-icons {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }
  .acadmy-pars {
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 2.5rem;
  }
  .acadmy-topics {
    text-align: center;
    margin-top: 2rem;
  }
  /* easy */
  .easy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .easy-img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .easy-topic {
    margin-bottom: 1rem;
  }
  .easy-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  /* last */
  .last-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last-center {
    margin-bottom: 2rem;
  }
  .last-topic {
    text-align: center;
    margin-bottom: 0.625rem;
  }
}
